<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Elección</label>
                        <select class="form-select" (change)="onProcesoChange($event)">
                            <option value=0>Seleccione</option>    
                            @for (item of _CatalogoEleccion(); track item.id) {
                                <option [value]="item.id">{{ item.valor }}</option>
                            }                                                           
                        </select>
                    </div>

                    <div class="col-md-6">
                        <!-- <label class="form-label">Proceso</label>
                        <select class="form-select">
                            <option value=0>Seleccione</option>
                            @for (item of _CatalogoProceso(); track item.id) {
                                <option [value]="item.id">{{ item.valor }}</option>
                            } 
                            
                        </select> -->
                    </div>
                </div>
        
                <form [formGroup]="fb" (ngSubmit)="onSubmit()"> 
                    <div class="tab-content mt-3">              
                            <hr class="text-secondary">                    
                            <h4> Datos de la Elección </h4> 
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" value="fb.value.nombre"
                                            formControlName="nombre" [class.is-invalid]="iseleccionInvalid('nombre')">
                                        @if (iseleccionInvalid('nombre')) {
                                            <div class="invalid-feedback">
                                                El nombre de la elección es obligatorio
                                            </div>
                                        }
                                    </div>

                                    <div class="col-md-4">
                                        <label>Color Base</label>
                                        <input type="color" class="form-control form-control-color" 
                                            formControlName="colorBase" [class.is-invalid]="iseleccionInvalid('colorBase')">
                                        @if (iseleccionInvalid('colorBase')) {
                                            <div class="invalid-feedback">
                                                El color base es obligatorio
                                            </div>
                                        }
                                    </div>

                                    <div class="col-md-4">
                                        <label>Logo</label>
                                        <input type="file" accept=".jpg" 
                                                class="form-control" (change)="onFileChangeEleccion($event.target.files)" 
                                                [class.is-invalid]="iseleccionInvalid('logo')">
                                        @if (fb.get('logo')?.errors?.['required']) {
                                            <div class="invalid-feedback">
                                                El logo es obligatorio
                                            </div>
                                        }
                                    </div>

                                    <div class="col-md-4">
                                        <label>Fecha Difusión</label>
                                        <input type="date" class="form-control" 
                                                formControlName="fechaDifusion" readonly
                                                [max]="fb.value.fechaInicioEleccion">
                                    </div>

                                    <div class="col-md-4">
                                        <label>Fecha Inicio</label>
                                        <input type="date" class="form-control" 
                                                formControlName="fechaInicioEleccion" 
                                                [min]="fb.value.fechaDifusion"
                                                [max]="fb.value.fechaFinEleccion"
                                                [class.is-invalid]="iseleccionInvalid('fechaInicioEleccion')">
                                        @if (iseleccionInvalid('fechaInicioEleccion')) {
                                            <div class="invalid-feedback">
                                                La fecha de inicio es obligatoria     
                                            </div>
                                        }
                                                
                                    </div>

                                    <div class="col-md-4">
                                        <label>Fecha Fin</label>
                                        <input type="date" class="form-control" 
                                                formControlName="fechaFinEleccion"
                                                [min]="fb.value.fechaInicioEleccion"
                                                [class.is-invalid]="iseleccionInvalid('fechaFinEleccion')">
                                        @if (iseleccionInvalid('fechaFinEleccion')) {
                                            <div class="invalid-feedback">  
                                                La fecha de fin es obligatoria  
                                            </div>
                                        }
                                    </div>
                                    
                                    <div class="col-md-4 form-check mt-4">
                                        <input type="checkbox"
                                                class="form-check-input" 
                                                id="plantillaconfirmada" 
                                                formControlName="plantillaConfirmada">
                                        <label class="form-check-label" for="plantillaconfirmada">Planilla Confirmada</label>
                                    </div>

                                    <div class="col-md-4 mt-4">
                                        @if (fb.value.estado === 1) {
                                            <span class="badge bg-success">Activo</span>
                                        }@else {
                                            <span class="badge bg-secondary">Inactivo</span>
                                        }
                                    </div>

                                    

                                </div>
                                
                            <hr class="text-secondary">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <h4 class="mb-0">Datos de los Procesos</h4>

                                    <button type="button"
                                            class="btn btn-primary d-flex align-items-center gap-1"
                                            (click)="agregarProceso()">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>

                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered align-middle mb-0 tabla-moderna">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 120px;">Detalle</th>
                                                <th style="min-width: 400px;" class="gris">Nombre Proceso</th>
                                                <th style="min-width: 200px;" class="gris">N° Candidatos</th>
                                                <th style="min-width: 200px;" class="gris">Votación Obligatoria</th>                                    
                                                
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="procesos"> 
                                            @for (item of procesos.controls; track item; let i = $index){                                           
                                            <tr [formGroupName]="i">
                                                <td style="min-width: 120px;">
                                                    <div class="d-flex gap-2 justify-content-center flex-nowrap">
                                                        @if (_Estado !== 2) { 
                                                            <button type="button"
                                                                class="btn btn-danger"
                                                                (click)="eliminarProceso(i, item)">
                                                                <i class="bi bi-x-circle"></i>
                                                            </button>
                                                        } 
                                                    
                                                        <button type="button"
                                                                class="btn btn-secondary ms-1"                                                               
                                                                (click)="verconfiguracion(item)">
                                                        <i class="bi bi-person"></i>
                                                        </button>

                                                    </div>
                                                </td>
                                                
                                                <td>
                                                    <input type="text" class="form-control" 
                                                    [class.is-invalid]="isProcesoInvalid(i, 'nombre')" 
                                                    formControlName="nombre">
                                                    @if (isProcesoInvalid(i,'nombre')) {
                                                    <div class="invalid-feedback">
                                                        El nombre del proceso es obligatorio
                                                    </div>
                                                    }
                                                </td>
                                                
                                                <td>
                                                    <input type="number" class="form-control" 
                                                    [class.is-invalid]="isProcesoInvalid(i, 'numeroCandidato')" 
                                                    formControlName="numeroCandidato" min="0" max="10">
                                                    @if (isProcesoInvalid(i,'numeroCandidato')) {
                                                    <div class="invalid-feedback">
                                                        El N° de candidatos es obligatorio
                                                    </div>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" class="form-check-input-lg"  
                                                    [id]="'votacion_' + i" 
                                                    formControlName="votacionObligatoria">
                                                    <label class="form-check-label gris" [for]="'votacion_' + i">Votación Obligatoria</label>
                                                </td>
                                                <input type="hidden" formControlName="estado">
                                                
                                            </tr>
                                        }  
                                        
                                        @if (procesos.length === 0) {
                                            <tr>
                                                <td colspan="4" class="text-center text-muted py-3">
                                                <i class="bi bi-inbox me-2"></i>
                                                No hay procesos, debe agregar un proceso. <i class="bi bi-plus-circle me-1"></i>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>       
                                </div>         
                        </div>
                    <br>
                    <input type="button" 
                            class="btn btn-primary" 
                            value="Iniciar Difusión" 
                            (click)="iniciarDifusion()"
                        > 
                        &nbsp;
                    <!-- @if (_Estado !== 2) {  -->
                        <input type="submit" 
                            class="btn btn-success" 
                            value="Guardar">  
                    <!-- } -->
                    
                                                
                </form>         
            </div>
        </div>
    </div>
</div>


<!-- MODAL CANDIDATOS -->
    <div class="modal fade" id="candidatoModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content shadow-xl rounded-4">
            <div class="modal-header bg-primary">
                <h3 class="modal-title text-white">Proceso de Elección</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <!-- NAV TABS -->
                    <ul class="nav nav-tabs" id="tabsEleccion" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" 
                                data-bs-toggle="tab" 
                                data-bs-target="#eleccionTab" type="button">
                                Elección
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" 
                                data-bs-toggle="tab" 
                                data-bs-target="#candidatosTab" type="button">
                                Candidatos
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" 
                                data-bs-toggle="tab" 
                                data-bs-target="#colaboradoresTab" type="button">
                                Colaboradores
                            </button>
                        </li>
                    </ul>
                </div>

                <!-- <form [formGroup]="candidatoForm" (submit)="guardarCandidato()">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label">Nombre Completo</label>
                                <input type="text" class="form-control" 
                                formControlName="nombre" 
                                [class.is-invalid]="isInvalid('nombre')">
                                @if (isInvalid('nombre')) {
                                    <div class="invalid-feedback">
                                        El nombre del candidato es obligatorio
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Foto</label>
                                <input type="file" class="form-control" 
                                    accept=".jpg, .jpeg, .png"
                                    formControlName="imagenFoto"
                                    (change)="onFileChangeCandidato($event.target.files)"
                                    [class.is-invalid]="isInvalid('imagenFoto')"
                                >
                                    @if (candidatoForm.get('imagenFoto')?.errors?.['required']) {
                                        <div>La foto es obligatoria</div>
                                        }
                                    @if (candidatoForm.get('imagenFoto')?.errors?.['tipo']) {
                                        <div>Solo JPG o PNG</div>
                                    }
                                    @if (candidatoForm.get('imagenFoto')?.errors?.['size']) {
                                        <div>Máximo 2MB</div>
                                    }                                    
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Tipo de Documento</label>
                                <select class="form-select" 
                                formControlName="tipoDocumento"
                                [class.is-invalid]="isInvalid('tipoDocumento')">
                                    <option value="" selected>Seleccione</option>
                                    <option value="DNI">DNI</option>
                                    <option value="CE">Carnet de Extranjería</option>
                                </select>
                                @if(isInvalid('tipoDocumento')){
                                    <div class="invalid-feedback">
                                        El tipo de documento es obligatorio
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Número de Documento</label>
                                <input type="text" class="form-control" 
                                formControlName="numeroDocumento"
                                [class.is-invalid]="isInvalid('numeroDocumento')"
                                >                                
                                @if (isInvalid('numeroDocumento')) {
                                <div class="invalid-feedback">
                                    @if (candidatoForm.get('numeroDocumento')?.errors?.['required']) {
                                    <div>El numero de documento es obligatorio</div>
                                    }
                                    @if (candidatoForm.get('numeroDocumento')?.errors?.['pattern']) {
                                    <div>
                                        @switch (candidatoForm.get('tipoDocumento')?.value) {
                                        @case ('DNI') { DNI debe tener 8 dígitos }
                                        @case ('CE') { CE debe tener entre 9 y 12 caracteres }
                                        @case ('PASAPORTE') { Pasaporte entre 6 y 12 caracteres }
                                        @default { Formato inválido }
                                        }
                                    </div>
                                    }
                                </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Área</label>
                                <input type="text" class="form-control" 
                                formControlName="area"
                                [class.is-invalid]="isInvalid('area')"
                                >
                                @if(isInvalid('area')){
                                    <div class="invalid-feedback">
                                        El area es obligatorio
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Localidad</label>
                                <input type="text" class="form-control" 
                                formControlName="localidad"
                                [class.is-invalid]="isInvalid('localidad')"
                                >
                                @if(isInvalid('localidad')){
                                    <div class="invalid-feedback">
                                        La localidad es obligatorio
                                    </div>
                                }
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Descripción</label>
                                <textarea class="form-control" rows="3" 
                                formControlName="descripcion"
                                [class.is-invalid]="isInvalid('descripcion')"></textarea>
                                @if(isInvalid('descripcion')){
                                    <div class="invalid-feedback">
                                        La descripción es obligatorio
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" 
                                class="btn btn-secondary" 
                                data-bs-dismiss="modal">
                            Cancelar
                        </button>

                        <button type="submit" 
                                class="btn btn-primary">
                            Guardar
                        </button> 
                    </div>
                </form> -->
            </div>
        </div>
    </div> 