<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <img [src]="_Foto" alt="user" class="avatar"/>
                        <span class="hide-menu">{{_NombreUsuario}} </span>                        
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Mi Perfil </a></li>                   
                        <li><a href="javascript:void()">Cerrar Sesion</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">ELECCIONES WEB</li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" routerLink="/admin/dashboard">
                            <i class="mdi mdi-gauge"></i>  
                            <span class="hide-menu">DashBaord                            
                            </span>
                    </a>

                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" routerLink="/eleccion/elecciones">
                        <i class="mdi mdi-gauge"></i>  
                        <span class="hide-menu">Elecciones                        
                        </span>
                    </a>

                </li>
                    

                <!--<li *ngFor="let item of _ListMenu"> 
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i>  
                        <span class="hide-menu">{{ item.nomVista }}
                             <span class="label label-rouded label-themecolor pull-right" *ngIf="item.cantidad > 0">  
                                {{item.cantidad}}                              
                            </span> 
                        </span>
                    </a>
                    <ul>
                         <li *ngFor="let sub of getSubMenu(item.idMenu)">
                            <a [routerLink]="sub.nomUrl">{{ sub.nomVista }}</a>
                        </li> 
                    </ul>                    
                </li>-->
                
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->